@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/static/Roboto-Regular.ttf');
}

body {
    animation: slideUp 500ms ease-out;
}

@keyframes slideUp {
    from {
        opacity: 0.5;
        transform: translateY(-2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body .main-container {
    margin: 0 !important;
}

.main-container>div {
    height: 100dvh;
    min-height: 450px;
}

.school-logo {
    height: 2rem;
}

.school p {
    color: #071976;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0;
}

.system-name,
label,
#btn-reset,
.modal-title,
.policy-title {
    color: #071976;
}

.system-name,
label {
    font-family: 'Roboto';
}

.line-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.line-text::before,
.line-text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid rgb(var(--bs-secondary-rgb));
    margin: 0 10px;
}

.btn-pill:active,
.btn-google:active {
    box-shadow: inset 0 3px 2px rgba(35, 35, 35, 0.2) !important;
}

.div-announcement {
    box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
    /* background: radial-gradient(circle, rgba(240, 244, 247, 1) 0%, rgba(148, 187, 233, 1) 100%); */
    background: radial-gradient(circle, #506cff 0%, #071976 100%);
    /* background-image: url('../../images/carousel/42.png'); */
    /* background-image: url('../../images/carousel/FCPC AI - NO LOGO.png');
    background-position: center right; */
    /* background-image: url('../../images/carousel/TORCH.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover; */
}

#manual-container,
#reset-container,
#btn-google {
    display: none;
    /* hide on page load */
}

#btnReset,
#btnLogin {
    background-color: #071976 !important;
    border-color: #071976 !important;
}

#btnReset:active,
#btnLogin:active,
#btnReset:hover,
#btnLogin:hover {
    background-color: #0030b4ff !important;
    border-color: #0030b4ff !important;
}

#message {
    display: none;
}

#btn-reset {
	cursor: pointer;
}